html {
    font-size: 62.5%;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: white;
    max-width: 100%;
}


/* Bootstrap Overrides */
.footer-copyright {
    font-size: 1.5rem;
}
#grid-one .card-body {
    font-size: 3rem;
    color: white;
}

.modal-footer .button {
    text-align: center;
    justify-content: center;
}

.navbar-brand {
    padding-top: 1px;
}

.navbar a {
    color:white;
}

.px-10 {
    padding-left: 1rem;
}

.navbar a:hover {
    color: grey;
}

.line  {
    padding-left: 1rem;
    margin-right: 1rem;
    border-left: white 1px solid;
}

.line-two {
    border-left: black 2px solid;
    padding-left: 1rem;
    margin-left: 1rem;
    margin-top: 1.2rem;
}

.active-page {
    color: grey !important;
}
/* Header & Navbar*/
.navbar-toggler {
    color: white;
}
.navbar {
    text-align:center;
    font-size: 2rem;
    z-index: 1;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.navbar-brand {
    font-size: 3rem;
    margin-bottom: 5px;
    padding-right: .5rem;
}

.media-icon {
    height: 32px;
    width: 32px;
    display: inline-block;
}

.media-link {
    display: inline-block;
    padding-right: 1rem;
    color: white;
}

.small-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.5;
    z-index: 9999;
    padding-top: 8rem;
}

.banner-container {
    background-image: url(../images/banner4.jpg);
    margin-top:0;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:50rem;
    padding: 0;
}

.banner-container:hover {
    background-image: url(../images/banner1.jpg);
}

.banner-container:hover .small-logo {
    opacity: 0.7;
}

.nav-link {
    color:white;
}

/* Grid One */

#grid-one {
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 7rem;
    
}

#grid-one h1 {
    text-align: center;    
    font-size: 3rem;
}

.iframe-outer, .iframe-inner {
    height: 30rem;
    width: 30rem;
}

.iframe-outer {
    display: inline-block;
    position: relative;
}

.iframe-inner {
    overflow: hidden;
    border-radius: 5000px;
    position: absolute;
}

.iframe-inner iframe {
    height: 100%;
    width: 100%;
}

#grid-one img {
    height: 30rem;
    width: 30rem;
}

#grid-one p {
    font-size: 2rem;
}

#grid-one h2 {
    font-size: 3rem;
}

#grid-one .btn {
    width:20rem;
    flex: 1 1 auto;
    margin: 1rem;   
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
       /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    font-size: 2.5rem;
}

#grid-one .btn:hover {
    background-position: right center; /* change the direction of the change here */
  }
  
#grid-one  .btn {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  }

#grid-one-modal .modal{
    width: 60%;
    margin:auto;
    margin-top: 14%;
}

/* Grid Two */
 #grid-one-modal .modal-header {
    padding-left: 30px;
    padding-right: 30px;
}

#grid-one-modal-two .modal-body{
    height: 50rem;
    overflow-y: auto;
}

#grid-one-modal-two .modal{
    margin: auto;
    margin-top: 10%;
    max-width: 70%;
}

#grid-one-modal-two .card{

    margin: auto;
    font-size: 1.4rem;
}

#carousel-container {
    padding-top: 5rem;
}
#grid-one-modal-two .btn {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    font-size: 2rem;
}
#grid-two {
    height: 300px;
}

.custom-card-one {
    max-height: 400px;
    min-height: 300px;
}

.grey {
    background-color: #566D7E;
}

/* Instafeed */
#insta-container  {
    margin-top: 10rem;
}

#instafeed_gallery {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* remove bootstrap gutter*/
.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
  }
  
  .row.no-gutter [class*='col-']:not(:first-child),
  .row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
  }
  
  
  /* the good stuff */
 

  .img-featured-container {
    overflow: hidden;
    position: relative;
  }
  
  .img-featured-container img {
    width: 100%;
  /*   padding: 10px; */
  }
  
  .img-featured-container .img-backdrop {
    background: linear-gradient(135deg, rgba(38, 163, 255, 0.85), rgba(83, 201, 179, 0.85));
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .img-featured-container:hover > .img-backdrop {
    opacity: 1;
  }
  
  /* center text horizontally and vertically on image hover */
  .img-featured-container .description-container {
    color: #fff;
    font-size: 16px;
    line-height: 1.2;
    padding: 0 30px;
    text-align: center;
    line-height: 20px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    z-index: 2;
    opacity: 0;
    transition: all .2s ease;
  }
  
  .img-featured-container .description-container .fa-instagram {
    font-size: 40px;
  }
  
  .img-featured-container .description-container p {
    font-weight: 300;
    margin-bottom: 0;
  }
  
  .img-featured-container:hover .description-container {
    opacity: 1;
  }
  
  .img-featured-container .description-container .caption {
    display: none;
    margin-bottom: 10px;
  }
  
  .img-featured-container .description-container .likes,
  .img-featured-container .description-container .comments {
    margin: 0 5px;
  }
  
  /* load more button */
  #btn-instafeed-load {
    color: #fff;
    background: #26a3ff;
    font-size: 16px;
    margin: 20px auto;
    padding: 8px 40px;
    display: block;
    border: none;
  }
  
  .instaimg {
    margin-bottom:20px;
  }
  /* media queries  */
  @media screen and (min-width:768px) {
    .img-featured-container .description-container .caption {
      display: block;
    }
    
  }

  @media only screen and (max-width: 768px) {

    #instafeed_gallery {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media only screen and (max-width: 768px) {

    #grid-one-modal .modal{
        width: 90%;
        margin: auto;
        margin-top: 7%;
    }
}

@media only screen and (max-width: 768px) {
    #grid-one-modal-two .modal {
        width: 90%;
    }

}

@media only screen and (max-width: 768px) {
    #vendor-container .card-deck {
        padding-left: 0rem;
        padding-right: 0rem;
    }

}


/* Vendor Page */
#vendor-container {
    Padding-top: 10rem;
}
#vendor-container .card-deck {
    padding-left: 10rem;
    padding-right: 10rem;
}

#vendor-container .card {
    font-size: 1.6rem;
    min-width: 25rem;
    max-width: 25rem;
    margin: auto;
}

#vendor-container .card h4 {
    font-size: 2rem;
}


#vendor-container .card:hover {
    box-shadow: -1px 9px 40px  -12px  rgba(0, 0, 0, 0.75);
    transform: translate3d(0px, -1px, 0px);
}

#vendor-container  .btn {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    margin-top: auto;
    font-size: 2rem;
}

#vendor-container .card-text {
    height: 100px;
}

/* Modal Vendor Cards */

#modal-cards p {
    font-size: 2rem;
}

#modal-cards .modal {
    max-width: 110rem;
    margin: auto;
    margin-top: 6%;
}

#modal-cards .modal-body {
    padding:0;
    margin: 0;
}

#modal-cards .modal-header {
    padding-left: 30px;
    padding-right: 30px;
    background-color: 	#66BBFF;
}

#modal-cards .modal-header h2 {
    margin-top:10px;
}

#modal-cards .modal img {
    padding-bottom: 7px;
}

#modal-cards p {
    padding-left: 0px;
    padding-right: 25px;
    font-size:1.7rem;
    padding-top: 15px;
}

.modal-header .close {
    font-size: 40px; 
}

  




/* Footer */

.page-footer {
    margin-top: 4rem;
}

/* Media Queries */

@media only screen and (max-width: 768px) {

    .navbar {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 768px) {
    #grid-one {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 768px) {
    #vendor-container .card-deck {
        margin-left: 0px;
        margin-right: 0px;
    }
}





.shadow {
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

body.modal-open #vendor-container {
    -webkit-filter: blur(5px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

body.modal-open header {
    -webkit-filter: blur(5px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

body.modal-open .banner-container {
    -webkit-filter: blur(5px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
  
.modal-backdrop {background: grey;}

.close {
    font-size: 50px;
    display:block;
}

